# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.exe
.Python
release/
build/
dist/
models/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a PyInstaller script
#  *.spec
#  PyInstaller binaries and build artifacts
#  Usually these files are written by a PyInstaller script
#  pyinstaller.spec
#  output/

# Pyenv
.python-version

# Mypy cache
.mypy_cache/

# VS Code
.vscode/

# Virtualenv
venv/
.venv/
env/
.env

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PEP 582; __pypackages__ directory
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store

# Logs
logs/
*.log

# Local settings
local_settings.py